$littleFontSize: 14px;
$littleLineHeight: 16.41px;
$offerFeedbackLineHeight: 19.69px;

$mediumFontSize: 16px;
$mediumLineHeight: 18.75px;

$backgroundBodyColor: rgba(239, 239, 239, 1);
$darkColor: rgba(51, 51, 51, 1);
$mainColor: rgba(102, 192, 93, 1);
$blackColor: rgba(0, 0, 0, 1);
$whiteColor: rgba(255, 255, 255, 1);

$innerBlockWidth: 1110px;
$innerBlockWidthLaptop: 900px;
$innerBlockWidthTablet: 700px;
$innerBlockWidthMobile: 500px;

